<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by Part Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/VECV.png') }}" type="image/x-icon">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('bolt-form').addEventListener('submit', function(event) {
                event.preventDefault();

                var partNoValue = document.getElementById('partNo').value.trim();

                if (!partNoValue) {
                    alert('Please enter a Part No.');
                    return;
                }

                var queryString = 'partNo=' + encodeURIComponent(partNoValue);

                fetch('/search?' + queryString)
                    .then(response => response.json())
                    .then(data => {
                        if (data.results === 'No matching rows found') {
                            document.getElementById('aluminum').textContent = 'N/A';
                            document.getElementById('cast-iron').textContent = 'N/A';
                            document.getElementById('sheet-metal').textContent = 'N/A';
                            document.getElementById('thread-friction').textContent = 'N/A';
                            document.getElementById('aa').textContent = 'N/A';
                            document.getElementById('bb').textContent = 'N/A';
                            document.getElementById('cc').textContent = 'N/A';
                            document.getElementById('dd').textContent = 'N/A';
                            document.getElementById('ee').textContent = 'N/A';
                            document.getElementById('ff').textContent = 'N/A';

                            alert('No Such Part number found');
                        } else {
                            var result = data.results[0]; 
                            document.getElementById('aluminum').textContent = result.Output2 || 'N/A';
                            document.getElementById('cast-iron').textContent = result.Output3 || 'N/A';
                            document.getElementById('sheet-metal').textContent = result.Output4 || 'N/A';
                            document.getElementById('thread-friction').textContent = result.Output5 || 'N/A';
                            document.getElementById('aa').textContent = result.Output6 || 'N/A';
                            document.getElementById('bb').textContent = result.Output7 || 'N/A';
                            document.getElementById('cc').textContent = result.Output8 || 'N/A';
                            document.getElementById('dd').textContent = result.Output9 || 'N/A';
                            document.getElementById('ee').textContent = result.Output10 || 'N/A';
                            document.getElementById('ff').textContent = result.Output11 || 'N/A';
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
    <style>

    </style>
</head>
<body>

    <!-- Header Section -->
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <h2>COF by Part Number</h2>
        <nav class="nav-menu">
            <a href="/">Home</a>
            <!-- <a href="/index1">Bolt Specification</a> -->
            <a href="/design">About Us</a>
        </nav>
    </div>

    <!-- Content with sections -->
    <div class="container">
        <!-- First Section: Input -->
        <div class="input-section">
            <form id="bolt-form">
                <p><strong>Enter the Part number to find corresponding information</strong></p>
                <label for="partNo"></label>
                <input type="text" id="partNo" name="partNo" required><br>
                <input type="submit" value="Search" class="styled-button">
            </form>
        </div>

        <!-- Second Section: Output -->
        <div class="results-container">
            <div class="results-section">
                <fieldset>
                    <legend><strong>Under Head Friction Outputs</strong></legend>
                    <div class="result-pair">
                        <div class="label-box">Chassis:</div>
                        <div class="output-box"><span id="aa">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Aluminum:</div>
                        <div class="output-box"><span id="aluminum">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Cast Iron:</div>
                        <div class="output-box"><span id="cast-iron">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Sheet Metal:</div>
                        <div class="output-box"><span id="sheet-metal">N/A</span></div>
                    </div>
                    <legend><strong>Thread Friction Output</strong></legend>
                    <div class="result-pair">
                        <div class="label-box">Thread Friction:</div>
                        <div class="output-box"><span id="thread-friction">N/A</span></div>
                    </div>
                </fieldset>
            </div>

            <!-- Third Section: Additional Outputs -->
            <div class="results-section">
                <fieldset>
                    <legend><strong>Part Number Specification</strong></legend>
                    <div class="result-pair">
                        <div class="label-box">Head Type:</div>
                        <div class="output-box"><span id="bb">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Pitch:</div>
                        <div class="output-box"><span id="cc">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Plating:</div>
                        <div class="output-box"><span id="dd">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">Grade:</div>
                        <div class="output-box"><span id="ee">N/A</span></div>
                    </div>
                    <div class="result-pair">
                        <div class="label-box">DIA:</div>
                        <div class="output-box"><span id="ff">N/A</span></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</body>
</html>
